/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: #675AFE;
}
::selection{
  color: #fff;
  background: #675AFE;
}
.wrapper{
  width: 90%;
  max-width: 420px;
  padding: 30px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    span.taux-txt {
      font-size: 60%;
      display: block;
      span {
        font-size: 130%;
        color: green;
      }
    }
  }
  .tauxManuel {
    margin-bottom: 30px;
    display: flex;
    align-items: baseline;
    input {
      border: 1px solid grey!important;
      height: 40px !important;
    }
    > * {
      width: 50% !important;
    }
  }
  .amount {
    input {
      border: 1px solid green !important;
    }
  }
  .form{
    margin: 40px 0 20px 0;
    :where(input, select, button){
      width: 100%;
      outline: none;
      border-radius: 5px;
      border: none;
    }
    p{
      font-size: 18px;
      margin-bottom: 5px;
    }
    input{
      height: 50px;
      font-size: 17px;
      padding: 0 15px;
      border: 1px solid #999;
    }
    input:focus{
      padding: 0 14px;
      border: 2px solid #675AFE;
    }
    .drop-list{
      display: flex;
      margin-top: 20px;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .icon{
        margin-top: 30px;
        font-size: 22px;
        button {
          display: inline-flex;
          background: none;
          border: 1px solid rgb(221, 221, 221);
          border-radius: 50%;
          padding: 16px;
          cursor: pointer;
          svg {
            transform: rotate(0deg);
            width: 16px;
            height: 16px;
            color: green;
          }
        }
      }
      .select-box{
        display: flex;
        width: 115px;
        height: 45px;
        align-items: center;
        border-radius: 5px;
        justify-content: center;
        border: 1px solid #999;
        img{
          max-width: 25px;
        }
        select{
          width: auto;
          font-size: 16px;
          background: none;
          margin: 0 -5px 0 5px;
        }
        select::-webkit-scrollbar{
          width: 8px;
        }
        select::-webkit-scrollbar-track{
          background: #fff;
        }
        select::-webkit-scrollbar-thumb{
          background: #888;
          border-radius: 8px;
          border-right: 2px solid #ffffff;
        }
      }
    }
  }
  .exchange-rate{
    font-size: 17px;
    margin: 20px 0 30px;
  }
}

