<div class="wrapper">
  <header>
    Convertisseur de devises
    <span class="taux-txt">Taux actuel : <span>{{tauxReel}}</span></span>
  </header>
  <div class="form">
    <div class="tauxManuel">
      <p>Taux Fixe</p>
      <input type="number" value="" (change)="convertWithFixeTauxChange($event)">
    </div>
    <div class="amount">
      <p>Montant</p>
      <input type="number"
        [(ngModel)] ='userAmount'
        pattern="^\d{1,3}(,?\d{3})*(\.\d{2})?$"
        inputmode="numeric"
        autocomplete="off"
        (ngModelChange)="getConvertedTauxChange($event)"
        (change)="setHistoriqueDeConversion()"
        >
    </div>
    <div class="drop-list">
      <div class="from">
        <p>De</p>
        <div class="select-box">
          <span> {{(fromEurToUsd ? devise.eur : devise.dollar) | codeDevise | uppercase}} </span>
        </div>
      </div>
      <div class="icon">
        <button type="button" (click)="switchDevise()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 17" aria-hidden="true" class="">
            <path fill="currentColor" fill-rule="evenodd" d="M11.726 1.273l2.387 2.394H.667V5h13.446l-2.386 2.393.94.94 4-4-4-4-.94.94zM.666 12.333l4 4 .94-.94L3.22 13h13.447v-1.333H3.22l2.386-2.394-.94-.94-4 4z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
      <div class="to">
        <p>A</p>
        <div class="select-box">
          <span> {{(!fromEurToUsd ? devise.eur : devise.dollar) | codeDevise | uppercase}} </span>
        </div>
      </div>
    </div>
  </div>
  <div class="exchange-rate">Resultat : <strong>{{this.convertResult}} {{fromEurToUsd ? devise.dollar : devise.eur}}</strong> </div>
  <app-historique-list></app-historique-list>
</div>
